*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
	
}

body{
     width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    /* position: relative;*/
}


.header_paginas{
 
max-width: 120rem;
margin: auto;
}

.header_paginas nav a i{
    font-size: 2rem;
}


.header_paginas nav a ,.header_paginas nav a span{

    font-size: 1.4rem;
}
.inicio_imagenes{
    width: 100%;
   height: 60rem;
   /*border: solid red 1px;*/
}



.primerafoto{
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.3)), url('../img/señordeloscielos3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60rem;
    position: relative;

}
 .foto_info{
    position: absolute;
    top: 40%;
    left: 12%;
    max-width: 60rem;
   
    font-size: 3rem;
    color: white;
    /*border: solid red;*/
}
.nuevo{
    background-color: gold;
    border-radius: 0.5rem;
    font-weight: 600;
    padding: .5rem 1rem;
    color: black;
}

.foto_info h1{
font-size: 5.5rem;
font-weight: 400;
font-family: 'Francois One', sans-serif;
margin: 1rem 0;
text-transform: uppercase;
}

.info_pelicula{
    margin: 1rem 0;
   /* border: solid;*/
    max-width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_pelicula .inf{
    font-size: 1.5rem;
    font-weight: 200;
}

.foto_info p{
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem 0;
}

.info_botones{
    margin: 2rem 0;
}
.info_botones button{
    padding: .7rem 2rem;
    background-color: red;
    border: none;
    color: white;
    font-size: 1.6rem;
     border-radius: 0.5rem;
     margin-right: 1rem;
}
.info_botones button i{
    font-size: 1.6rem;
    margin-right: .5rem;
}

.info_pelicula .edad{
   border: solid red;
   border-radius:2rem; 
   padding: 0.1rem .8rem;
}
.segundafoto{
   /* background-image: url('../img/saw.jpg');*/
   background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.3)), url('../img/strangerthings.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 60rem;
   position: relative;
}
.tercerafoto{
   /* background-image: url('../img/thorlovethunder.png');*/
   background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.3)), url('../img/lamonjaterror.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60rem;
    position: relative;
}




footer *{
    font-size: 1.5rem;
    text-decoration: none;
}


footer h5{
    font-size: 1.7rem;
}

.main{
    width: 100%;
  margin: 1rem 0;
 
   /* border: solid rgb(130, 92, 92) 1px;*/
}


.btntipo{
    padding: .5rem 2rem;
   border: none;
   background-color: transparent;
    border-bottom: solid red;
    color: white;
    font-size: 1.6rem;
     margin-right: 1rem;
     margin-bottom: 1rem;
}

.btntipo:hover{
    background-color: red;
}


.botones_tipos{
    max-width: 120rem;
    margin: auto;
}












.main_tipos{
    max-width: 120rem;
    margin: auto;
   height: 30rem;
   /*border: solid red 1px;*/
}



.tipo_terror{
   /* background-color: white;   */
 
    width: 100%;
    height: 30rem;
  
    display: flex;
    justify-content: space-between;
    

}

.tipo_accion{

    /*background-color: white;*/
 
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-between;


 }

 .terror_img{
    width: 15rem;
    height: 30rem;
 /* border:black solid 1px;*/
}

.terror_img img{
    width: 100%;
    height: 21.6rem;
}


.info_peli{
    margin: 1rem 0;
   /* border: solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_peli .infd{
    font-size: 1.1rem;
    font-weight: 200;
    font-weight: 600;
    color: #A3A3A3;
}
.info_img_peli{
    margin-top: 1rem;
}

.info_img_peli h3{
    font-family: 'Francois One', sans-serif;
text-align: center;
font-size: 1.2rem;
text-transform: uppercase;
color: white;
}

.info_peli .infed{
   
    border: solid red;
    font-size: 1.1rem;
    border-radius:2rem; 
    padding: 0.1rem .8rem;
    font-weight: 600;
    color: #A3A3A3;
 }





 @media (max-width: 700px) {
    
    .inicio_imagenes{
        width: 100%;
       height: 60rem;
       margin-bottom: 25rem;
       /*border: solid red 1px;*/
    }
    
  
  
    .info_botones button{
       margin-top: 1rem;
    }
    
    .primerafoto ,.segundafoto ,.tercerafoto{

        height: 80rem;
    
    }
  
    .foto_info{
        position: absolute;
        top: 40%;
        left: 5%;
        max-width: 38rem;
       
        font-size: 3rem;
        color: white;
        /*border: solid red;*/
    }







    

    .main_tipos{
        max-width: 120rem;
        width: 100%;
        margin: auto;
       height: 90rem;
       /*border: solid red 1px;*/
    }
    
    
    
    .tipo_terror{
       /* background-color: white;   */
     
        width: 100%;
        height: 90rem;
     
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 2rem;
    
    }
    
    .tipo_accion{
    
        /*background-color: white;*/
     
        width: 100%;
        height: 90rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 2rem;
    
    
     }




  }


  .pel_popu{
    color: white;
    
    margin: 3rem 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Francois One', sans-serif;
  }


  .titulo_taquilleras{
    max-width: 120rem;
    margin: auto;
  }

  .suscripciones{
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white;
    
    background: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.9)), url('../img/lamonjaterror.jpg');
    padding-top: 3rem;
  }

  .suscripciones h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Francois One', sans-serif;
  }

  .suscripciones p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  }

  .suscripciones_card{
    max-width: 120rem;
    margin: auto;
    /*border: red solid;*/
    padding: 5rem;
  }

  .tarjeta{
    margin-top: 2rem;
  }

  .rojo{
    background-color: #6421ff;
    border: none;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
  }

  .titulo_precio{
    font-size: 1.6rem;
    color: #6421ff;
  }
 .card-body .titulo_texto{
    font-size: 1.3rem;
  }

  .rueda{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }